@import './fonts.css';

:root {
  --theme-accent: #f3f3f3;
  --theme-primary: #000;
}

/** Hide empty admin tab **/
:not([data-role='admin']) .k-tab-button[title='Admin'] {
  display: none;
}

/* Panel Max Width */
@media (min-width: 60rem) {
  .k-panel-main {
    max-width: 112rem;
    margin-inline: auto;
    padding-inline-start: calc(var(--main-start, 0) + var(--main-padding-inline));
  }
}

/* Custom login form styling */
.k-login-view {
  position: relative;

  .k-login-dialog {
    overflow: visible;

    &::before {
      bottom: calc(100% + 4rem);
      display: block;
      height: 7.705rem;
      margin: 0 auto;
      left: calc(50% - 4.375rem);
      content: url('');
      position: absolute;
      width: 8.75rem;
    }
  }
}

/** Custom Blocks Styling **/
.k-blocks:not([data-disabled='true']) {
  background: transparent;
  box-shadow: none;
  border-radius: none;

  & > .k-blocks-list > .k-block-container {
    border-radius: var(--rounded);

    &:not([data-selected='true']) {
      box-shadow: var(--shadow);
    }

    &:not(:last-of-type) {
      border-bottom: none;
      margin-bottom: 0.5rem;
    }
  }
}

/* Custom Tab Styles */
.k-tabs {
  margin-top: 12px;
  margin-inline: 0;
  gap: var(--spacing-2);

  .k-tab-button {
    --button-color-icon: var(--button-color-dimmed-off);
    --button-text-color: var(--button-color-dimmed-off);
    padding-right: var(--spacing-3);
    color: #000;

    &:hover {
      --button-color-icon: var(--button-color-dimmed-off);
      background: rgba(0, 0, 0, 0.05);
    }

    &[aria-current] {
      --button-color-text: #000;
      --button-color-icon: #000;
      background: #fff;
      box-shadow: var(--shadow);

      &::after {
        display: none;
      }
    }
  }
}

/** Custom styles for plausible embed */
@media (min-width: 60rem) {
  .k-panel-main:has(iframe[plausible-embed]) {
    max-width: 104rem;
  }
}

.k-header:has(+ iframe[plausible-embed]) {
	display: none;
}
